// @import '@ss/mtd-vue2/lib/theme-chalk/switch';
@import '../../../style/index';

.switch-container {
  background: rgb(235, 216, 181);
  border-radius: 10px;
  width: 200px;
  height: 60px;
  display: flex;
  color: $color1;
  background-color: var(--dz-color-success-default);
}
